body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(200, 200, 227, 0.991) !important;
    /* background-image: url('bgimage.png'); */
}

h1 {
    color: #333;
}

form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-container {
    width: 48%;
    margin: 0 1%;
}

.team-container:last-child {
    margin: 0;
}

.player-item {
    margin-bottom: 10px;
}

.player-checkbox {
    margin-right: 5px;
}

.count {
    display: inline-block;
    margin-left: 5px;
    color: #1c185c;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/* Add style to change the background color when checked */
.player-item input[type="checkbox"]:checked + span {
    background-color: #1c185c;
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"] {
    background-color: #1c185c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    /* align-self: center; */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"]:hover {
    background-color: #ffffff;
    border: 2px solid #1c185c;
    color: #1c185c;
    font-weight: bolder;

}

.loading {
    filter: blur(2px);
    pointer-events: none;
}

#spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}



.team-name{
    background-color:#1c185c !important;
    color: white;
    border-radius: 8px 0 0 0 !important;
}
.team-name2{
    background-color:#1c185c !important;
    color: white;
    border-radius: 0 8px 0 0 !important;
}
